<p-card styleClass="stat-card">

    <div class="stat-header">

        <div>

            <span class="title">

                {{ title }}

            </span>

            <h2>

                {{ value }}

            </h2>

        </div>

        <div class="icon-box">

            <i
                class="pi"
                [class]="icon">
            </i>

        </div>

    </div>

    <div class="trend">

        <i class="pi pi-arrow-up"></i>

        <span>12% from last month</span>

    </div>

</p-card>