<div class="sidebar">

    <div class="logo">

        <div class="logo-box">

            LD

        </div>

        <div>

            <h2>Leads Hub</h2>

            <small>CRM Dashboard</small>

        </div>

    </div>

    <div class="menu">

        <a
            routerLink="/dashboard"
            routerLinkActive="active">

            <i class="pi pi-home"></i>

            Dashboard

        </a>

        <a
            routerLink="/leads"
            routerLinkActive="active">

            <i class="pi pi-users"></i>

            Leads

        </a>

    </div>

</div>