@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Inter, Arial, sans-serif;
    background: #f5f7fb;
}

body {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}